@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */

@theme {
  --font-bubblegum: "Fuzzy Bubbles", sans-serif;
}

body {
  @apply font-bubblegum text-[#822c2d];
}

@keyframes sway-up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.float {
  animation: sway-up-down 4s ease-in-out infinite;
}

@keyframes sway-left-right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.head-sway {
  animation: sway-left-right 2s linear infinite;

  transform-origin: center 80%;
}

@keyframes sway {
  0% {
    transform: translateX(-20px) rotate(80deg);
  }
  50% {
    transform: translateX(20px) rotate(5deg);
  }
  100% {
    transform: translateX(-20px) rotate(80deg);
  }
}

.bear-sway {
  animation: sway 5s ease-in-out infinite;
}
